
/* Your CSS Code here. */
/* Your CSS Code here. */
nav ul{
	background-color:black;
	height:60px;
	display:flex;
	list-style-type:none;
	justify-content:space-evenly;
	align-items:center;
}
nav ul li a{
	text-decoration:none;
	color:white;
	font-size:20px;
}